.header {
    overflow: hidden;
    padding: 5px;
    margin: 5px 5px;
}
.header h1 {
    margin: 11px 0 0 70px;
}
ul {
    display: inline-block;
    float: right;
    margin: 0 70px 0 0;
}
li {
    display: inline-block;
    padding: 3px;
    margin: 0 40px 0 0;
}
border {
    background-color: aqua;
    padding: 10px;
}
.folder {
    text-align: center;
    padding: 200px;
    background-image: url(../roberto/hotal.jpg);
    color: beige;
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
}
.folder h4 {
    font-size: 25px;
}
.folder h1 {
    font-size: 50px;
}
button {
    padding: 8px;
    margin: 10px;
}